body {
    padding-top: 0;
}
section {
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    left: 180px;
}

.errormessage {
    border: solid red;
}

.okmessage {
    border: solid green;
}
